@font-face {
    font-family: 'Oswald-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Light'), url('oswald-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oswald-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Bold'), url('oswald-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oswald-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Regular'), url('oswald-regular-webfont.woff') format('woff');
}